<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="roche.labcore.modularity" type="Roche.LabCore.Modularity.Configuration.ModularitySection, Roche.LabCore.Bootstrapping.Configuration" />
        <section name="system.diagnostics.tracing" type="Roche.LabCore.Tracing.Configuration.SystemDiagnosticsSection, Roche.LabCore.Tracing.Configuration" />
        <section name="roche.labcore.diagnose" type="Roche.LabCore.Diagnose.Configuration.DSSection, Roche.LabCore.Diagnose.Module" />
    </configSections>
    <roche.labcore.modularity xmlns="http://schemas.roche.com/labcore/configuration">
        <modules>
            <!-- Mandatory modules (in sequence) -->
            <module type="Roche.LabCore.Diagnose.Authentication.Module.Configuration.AuthenticationModule, Roche.LabCore.Diagnose.Authentication.Module" />
            <module type="Roche.LabCore.Diagnose.DeviceManager.Module.Configuration.DeviceManagerModule, Roche.LabCore.Diagnose.DeviceManager.Module" />
            <module type="Roche.LabCore.Diagnose.TestManager.Module.Configuration.TestManagerModule, Roche.LabCore.Diagnose.TestManager.Module" />
            <module type="Roche.LabCore.Diagnose.Module.Configuration.DiagnoseModule, Roche.LabCore.Diagnose.Module" />            
            
            <!-- SSW Bootstrapper module, in charge of preparing environment for SSW execution -->
            <module type="Roche.NewGen.Ssw.LabcoreBootstrapper.SswBootstrapperModule, Roche.NewGen.Ssw.LabcoreBootstrapper" />
        </modules>
    </roche.labcore.modularity>
 <system.diagnostics.tracing>
    <sources>
      <source name="Roche.LabCore.*" switchValue="Verbose">
        <listeners>
          <add name="log4Net" type="Roche.LabCore.Tracing.Log4Net.Log4NetTraceListener, Roche.LabCore.Tracing.Log4Net" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics.tracing>
</configuration>
