[Unit]
Description=Mount for /mnt/tmp/private/data-collection to /opt/roche/var/lib/mollab/private/data-collection/tmp

[Mount]
What=/mnt/tmp/private/data-collection
Where=/opt/roche/var/lib/mollab/private/data-collection/tmp
Type=ext4
Options=rw,noexec,nosuid,nodev,bind

[Install]
WantedBy=multi-user.target
