search --no-floppy --fs-uuid --set=root @@PART_EFI_UUID@@

set gfxpayload=keep
#set linux_gfx_mode=1024x768x32
linux /efi/rlx/@@BOOTID@@_@@PROJECT@@_@@VERSION@@.vmlinuz @@LINUX_CMDLINE@@
initrd /efi/rlx/@@BOOTID@@_@@PROJECT@@_@@VERSION@@.initrd
boot
